.form {
    padding: 1rem;
}

.control {
margin-bottom: 0.5rem;
}

.control label {
display: block;
font-weight: bold;
margin-bottom: 0.5rem;
}

.control input,
.control textarea {
display: flex;
font: inherit;
border-radius: 4px;
border: 1px solid #ccc;
padding: 0.25rem;
width: 80%;
}

.control select {
    display: flex;
    border-radius: 4px;
    padding: 0.25rem;
}

.control label {
    font-size: 30px;
}

.actions {
margin-top: 0.5rem;
text-align: left;
}

.actions button {
font: inherit;
cursor: pointer;
background-color: #4300fb;
color: white;
padding: 0.5rem 1rem;
border: 1px solid #24047cbe;
border-radius: 4px;
font-weight: bold;
}

.actions button:hover,
.actions button:active {
background-color: #5a1eff;
border-color: #24047cbe;
}